# Maven
.mvn/
mvnw
mvnw.cmd
target/

# Help and License files
HELP.md
LICENSE

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Logs
*.log
logs/

# Temporários
*.tmp
*.bak
.DS_Store
Thumbs.db

# Sensíveis
*.key
*.pem
*.sql
.env
*.jar
*.war
*.nar
*.zip
*.tar.gz
*.jar
